:root {
    --textPrimary: rgb(250, 255, 150);
    --backgroundPrimary: rgb(30, 0, 60);
    --defaultMargin: calc(1vh + 1vh) auto;
    --defaultPadding: calc(1vh + 1vh);
  }

body {
    background-color: var(--backgroundPrimary);
    color: var(--textPrimary);
    padding: var(--defaultPadding);
}

main {
    width: 100%;
    margin: 50px auto 0;

}

h1.header {
    text-align: center;
}

div.game {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid var(--textPrimary);
    margin: var(--defaultMargin);
    width: 50%;
}

div.game:after {
    content: "";
    display: block;
    /* padding-bottom: 100%; */
  }

div.box {
    width: 100%;
    border: 2px solid var(--textPrimary);
    box-sizing: border-box;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
     align-items: center;

}

div.box:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }


span.symbol {
    font-size: calc(6vw + 2vh);
}

div.result {
    background-color: var(--textPrimary);
    color: var(--backgroundPrimary);
    margin: var(--defaultMargin);
    padding: var(--defaultPadding);
    text-align: center;
    box-shadow: rgba(250, 255, 150, 0.4) 5px 5px, rgba(250, 255, 150, 0.2) 10px 10px, rgba(250, 255, 150, 0.05) 15px 15px;
}
